debug
release
.vs
*.stash
*.sln
*.vcxproj
*.filters
/bin
Diapos/~$HPC_CUDA.pptx
*.pdb
*.user
Exercices/OpenMP/Mandel_omp/mandelbrot_scalar.ppm
Exercices/OpenMP/Mandel_omp/mean_times.csv
Exercices/Cuda/SeamCarver_cud/img.jpg
Exercices/Cuda/SeamCarver_cud/img-energy0.jpg
*.nvsettings
Exercices_Solutions/OpenMP/DotProduct_omp/~$speedups.xlsx
