debug
release
/Exercices_Solutions
.vs
*.stash
*.sln
*.vcxproj
*.filters
/bin
Diapos/~$HPC_CUDA.pptx
*.pdb
*.user
Exercices/OpenMP/Mandel_omp/mandelbrot_scalar.ppm
Exercices/OpenMP/Mandel_omp/mean_times.csv
