debug
release
.vs
*.stash
*.sln
*.vcxproj
*.filters
/bin
Diapos/~$HPC_CUDA.pptx
*.pdb
*.user
Exercices/OpenMP/Mandel_omp/mandelbrot_scalar.ppm
Exercices/OpenMP/Mandel_omp/mean_times.csv
Exercices/Cuda/SeamCarver_cud/img.jpg
Exercices/Cuda/SeamCarver_cud/img-energy0.jpg
*.nvsettings
Exercices_Solutions/OpenMP/DotProduct_omp/~$speedups.xlsx
Exercices_Solutions/Cuda/SeamCarver_cud/img.jpg
Exercices_Solutions/Cuda/SeamCarver_cud/img-energy0.jpg
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_0.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_1.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_10.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_11.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_12.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_13.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_14.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_15.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_16.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_17.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_18.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_19.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_2.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_3.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_4.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_5.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_6.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_7.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_8.ppm
Exercices_Solutions/OpenMP/Mandel_full/mandelbrot_scalar_9.ppm
